services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    ports:
    - 8000:8000
    depends_on:
      - worker
    volumes:
      - data:/data

  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker
    volumes:
      - data:/data

volumes:
  data: